.infoBoard {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buyButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buyButton:hover {
  background-color: #45a049;
}


.imageButton {
  margin: 20px;
  padding: 10px 20px;
  background-color: #bb8f2a98;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}