

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.lotteryButton, .backButton {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
  background-color: blueviolet;
}

.lotteryButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}