.board {
  display: inline-block;
  border: 1px solid #000;
  width: 700px !important;
}

.row {
  display: flex;
}

.pixel {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
}