.wrapper {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: black;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.option {
  padding: 10px 0;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.option:last-child {
  border-bottom: none;
}

.voteCount {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.timer {
  margin-top: 20px;
  font-size: 16px;
  color: #e74c3c;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.button:hover {
  background-color: #0056b3;
}